form {
  width: 400px;
  padding: 20px;
  border-radius: 3px;
  margin: auto;
  background-color: var(--secondary);
}

form h2 {
  text-align: center;
}

form div {
  margin-bottom: 20px;
}

form label {
  font-size: 18px;
  margin-bottom: 5px;
  display: block;
}

form input,
form textarea {
  width: 100%;
  display: block;
  outline: none;
  border: none;
  background-color: var(--primary);
  color: var(--light);
  font-size: 18px;
  border-radius: 3px;
  padding: 10px;
}

form textarea {
  height: 150px;
}

form div:last-child {
  text-align: center;
}

form a {
  color: var(--light);
}

@media screen and (max-width: 800px) {
  form {
    width: 100%;
  }
}
